
@{
}


<h1>Indian Recipes</h1>

@{

   /* Helper helper = new Helper();
    Dictionary<string, RecipeModel> data = helper.GetSpecificRecipeTitle();

    foreach (var item in data)
    {
        if (item.Key.Equals("Indian"))
        {
            <div>
                <a href="">
                    <div style="height:200px; width:300px">
                     
                    </div>
                    <h2>Indian</h2>
                </a>
            </div>
        }
        else if (item.Key.Equals("Italian"))
        {
            <div>
                <a href="">
                    <div style="height:200px; width:300px">
                       
                    </div>
                    <h2>Italian</h2>
                </a>
            </div>
        }
    }*/
}